{% extends 'outlet/base.html' %}

{% block title %} {% endblock %}

{% block body %} 
<div class="section full-height">
    <div class="absolute-center">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
            <h1><span>A</span><span>b</span><span>o</span><span>u</span><span>t</span><span>U</span><span>s</span><br>
            <span>m</span><span>e</span><span>n</span><span>u</span></h1>
            <p>Change Theme</p>	
                    </div>	
                </div>		
            </div>		
        </div>
        <div class="section mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="switch">
                            <div id="circle"></div>
                        </div>
                    </div>	
                </div>		
            </div>			
        </div>
    </div>
</div>
{% endblock %}

{% block CSS %} {% endblock %}

{% block JS %} 
<script>
    $('#popcart').popover();
    document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');  
    </script>
    
{% endblock %}