{% extends 'outlet/base.html' %}

{% block body %}
<!-- <div class="section full-height"> -->
  <!-- <img src="/static/outlet/3.jpg" alt=""> -->
  <div class="parallax">
  <div class="absolute-center">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 style=" color: #33224b;font-family: 'Caveat', cursive;">
              <span>O</span><span>n</span><span>i</span><span>o</span><span>m</span><span>a</span><span>n</span><span>i</span><span>a</span><span>c</span>
            </h1>
            <h1 style="    font-size: 20px;
              color: #33224b;
              font-weight: 500;">
              <span>@</span><span>t</span><span>e</span><span>c</span><span>h</span><span>g</span><span>e</span><span>e</span><span>k</span><span>1</span><span>9</span></h1>
            <!-- See the face you light up with Shopping -->
            <!-- For a hard-earned thirst, Shopping -->
            <!-- Let Your fingers do the walking through the oniomaniac -->
            <p style="font-family: 'Architects Daughter', cursive;
            font-family: 'Caveat', cursive;
            font-family: 'Indie Flower', cursive; font-size: 23px; font-weight: 600;
            border-bottom: 2px #6c757d;" class="text-muted"> See the face you light up with Shopping and let Your fingers do the walking through the oniomaniac 
            </p>
              <!-- <p>Change Theme</p> -->
          </div>
        </div>
      </div>
    </div>
  </div> </div>
<!-- </div> -->

<!-- ==============================Carousel Start================================ -->
{% for object in allprod %}
{% for obj in object %}
<!-- <div class="page-content page-container" id="page-content">
    <div class="padding"> -->
<div class="container-fluid">
  <h4 class="CH text-center mb-2">{{ obj.0.category|title }}</h4>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="owl-carousel">
      {% for o in obj %}
      <div class="item">
        <div class="card">
          <img class="card-img-top img-fluid" src="/media/{{ o.image }}" alt="Card image cap">
          <div class="card-body">
            <a href="/outlet/productview/{{o.id}}" style="text-decoration: none; color: darkslategray;">
              <h6 class="card-title" id="namepr{{o.id}}">{{ o.product_name|slice:'0:30'}}..
              </h6>
            </a>
            <p class="card-text mb-3"><small class="text-muted">{{ o.desc|slice:'0:28'}}...</small></p>
            <div class="input-group-append">
              <h5 class="card-title text-left"><i class="fas fa-rupee-sign rupee_font"></i><span
                  id="pricepr{{o.id}}">{{o.price}}</span> </h5>

              <span id="divpr{{o.id}}" class="divpr">
                <button id="pr{{ o.id }}" type="button" class="btn btn-dark btn-sm cart" style="margin-left: 90px;"><i
                    class="fa fa-shopping-cart"></i>
                </button></span>
              <a href="/outlet/productview/{{o.id}}">
                <button id="pv{{ o.id }}" type="button" class="btn btn-primary btn-sm ml-1"><i class="fa fa-eye"></i>
                </button>
              </a>
            </div>

          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- </div>
</div> -->
{% endfor %}
{% endfor %}
<!-- ==============================Carousel End================================ -->
{% endblock %}

{% block CSS %}
<style>
  .CH{
    margin-top: 40px;  color: #343a40;
  font-family: 'Architects Daughter', cursive;  font-weight: 600;
  }
  .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-block-end-width: 60px;
    border: burlywood;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #f3f2e0;
}
 body.dark .owl-wrapper-outer{
  background-color: #435361;
 }
 body.dark h4{
color: white;
 }
  .parallax {
  /* The image used */
  background-image: url("/static/outlet/3.jpg");

  /* Set a specific height */
  height: 500px; 
  margin-bottom: 40px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
}
  .rupee_font {
    font-size: 12px;
    bottom: 5px;
    position: relative;
    margin-left: 24px;
    color: indianred;
  }

  .stretch-card>.card {
    width: 100%;
    min-width: 100%
  }

  body {
    background-color: #f9f9fa
  }

  .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }

  @media (max-width:991.98px) {
    .padding {
      padding: 1.5rem
    }
  }

  @media (max-width:767.98px) {
    .padding {
      padding: 1rem
    }
  }

  .padding {
    padding: 3rem
  }

  .owl-carousel .item {
    margin: 3px
  }

  .owl-carousel .item img {
    display: block;
    width: 200px;
    align-self: center;
    height: 210px;
  }

  .owl-carousel .item {
    margin: 3px
  }

  .owl-carousel {
    margin-bottom: 15px
  }

  .card-title {
    margin-bottom: 0px;
  }

  .card {
    background-color: rgba(280, 280, 245, -0.6);
    border-style: none;
  }

  .check_icon {
    color: #1e7e34;
    font-size: 24px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 150px;
  }

  .fa-trash-alt {
    font-size: 24px;
    cursor: pointer;
    color: crimson;
  }

  body.dark .card-title {
    color: white;
}
 
</style>

{% endblock %}

{% block JS %}


<script>

  // =======================Carousel=========================================
  $(document).ready(function () {

    $(".owl-carousel").owlCarousel({
      autoPlay: 3000,
      items: 4,
      itemsDesktop: [1199, 3],
      itemsDesktopSmall: [979, 3],
      center: true,
      nav: true,
      loop: true,
      responsive: {
        600: {
          items: 1
        }
      }
    });
  });
  // =======================Caraousel Ends=============================================

  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
  }
  // If the add to cart button is clicked, add/increment the item
  //$('.cart').click(function() {
  $('.divpr').on('click', 'button.cart', function () {
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
      qty = cart[idstr][0] + 1;
    }
    else {
      qty = 1;
      name = document.getElementById('name' + idstr).innerHTML;
      price = document.getElementById('price' + idstr).innerHTML;
      cart[idstr] = [qty, name, parseInt(price)];

    }
    updateCart(cart);
  });
  //Add Popover to cart
  $('#popcart').popover();
  updatePopover(cart);
  function updatePopover(cart) {
    console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h6 style='text-align: center; font-weight: 600;'> Cart Items </h6><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
      popStr = popStr + "<div class='d-flex mb-1'><b>" + i + "</b>. ";
      popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 18) + "..." + "<div class='badge badge-info ml-auto mt-1'>" + cart[item][0] + '</div></div> ';
      i = i + 1;
    }
    popStr = popStr + "</div> <a href='/outlet/checkout' target='_blank'><i class='fas fa-check-circle check_icon' id ='checkout'></i></a> <i class='fas fa-trash-alt' onclick='clearCart()' id ='clearCart'></i>"
    console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('hide');
  }
  function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
      document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-dark btn-sm cart" style="margin-left: 90px;"><i class="fa fa-shopping-cart"></i></button>'
    }
    localStorage.clear();
    cart = {};
    updateCart(cart);
  }
  function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
      sum = sum + cart[item][0];
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-info btn-sm minus' style='margin-left:55px;'>-</button>  <span id='val" + item + "''>" + cart[item][0] + "</span>  <button id='plus" + item + "' class='btn btn-info btn-sm plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
    updatePopover(cart);
  }
  // If plus or minus button is clicked, change the cart as well as the display value
  $('.divpr').on("click", "button.minus", function () {
    a = this.id.slice(7);
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    // document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
    if (cart['pr' + a][0] == 0) {
      document.getElementById('divpr' + a).innerHTML = '<button id="pr' + a + '" class="btn btn-dark btn-sm cart" style="margin-left: 90px;"><i class="fa fa-shopping-cart"></i></button>';
      delete cart['pr' + a];
    }
    else {
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    }
    updateCart(cart);
  });
  $('.divpr').on("click", "button.plus", function () {
    a = this.id.slice(6);
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
  });
</script>

{% if msg|length != 0 %}
  <script>  
  alert('{{msg}}');
  window.location.href = "/outlet"
  </script> 
{% endif %}

{% endblock %}

